.flag-select__btn {
  font-size: 1.5rem !important;
  outline: 0;
  color: royalblue;
  width: 20rem !important;

  position: relative;
  border: 1px solid royalblue;
  padding: 10px;
}

.flag-select__btn::after {
  border-top: 15px solid #4d4d4d;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: 30px;
  right: 10px;
}

.flag-select__btn::before {
  top: 0;
  left: 0;
}

.flag-select__option--placeholder {
  display: flex;
  width: auto;
  padding-right: 2rem;
}

.flag-select__option.has-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}

.flag-select__option.has-label span {
  height: auto !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  font-size: 1rem;
}

.flag-select__option__icon {
  width: auto !important;
  height: 2rem;
  position: relative;
  top: 0;
}

@media screen and (max-width: 480px) {
  .flag-select__btn {
    width: auto !important;
  }
  .flag-select__options {
    width: 15rem;
  }
}
