@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-gray-100;
}

.coronaLogo {
  animation: 10s linear 0s infinite normal none running ckw;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flag-select__options {
  border: 1px solid rebeccapurple;
  border-radius: 0;
  max-height: 300px !important;
  background: whitesmoke;
}

.flag-select .filterBox input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid royalblue;
}
